.widget-header {
    border-bottom: 1px solid #bbbbbb;
    /*padding-top: 16px;
    height: 32px;*/
}

mat-card-subtitle {
    text-align: left;
}

.widget-icon {
    text-align: right;
    margin-top: 10px;
    margin-left: -8px;
}
