<div>
    <mat-grid-list [cols]="calcGridCols()" [rowHeight]="calcGridRowHeight()">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
            <mat-card style="width: 100%; height: 90%;">
                <mat-card-header class="widget-header">
                    <mat-icon mat-card-avatar class="widget-icon">home</mat-icon>
                    <mat-card-title>{{tile.widgetName}}</mat-card-title>
                    <mat-card-subtitle>{{tile.widgetCategory}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <app-dashboard-widget-container [widget]="tile.widget"></app-dashboard-widget-container>
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>