@media screen and (min-width: 960px) {
    #tableContainer {
        margin: 16px auto;
    }
}

@media screen and (max-width: 959px) {
    #tableContainer {
        margin: 16px 8px 0 8px;
        width: calc(100% - 16px);
    }

    /* It will be applied to th and td inside the table (but not on the last one) */
    #tableContainer th:not(:last-child),
    #tableContainer td:not(:last-child) {
        padding-right: 16px;
    }
}

#tableContainer table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}
