/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Suppresses an error in the login process (buffer.svg file not found) */
@supports (-webkit-appearance: none){
	.mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate) > .auxbar,
	.mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate) > .auxbar {
    	mask: url(/assets/images/buffer.svg?embed) !important;
  	}
}

* {
	font-family: "Roboto", sans-serif;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
